html,
body {
  width: 100%;
  /* ! changed height to min-height to accomudate service-offered page. */
  min-height: 100vh;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
  scroll-behavior: smooth;
  font-family: Raleway, sans-serif;
}

body.modal-open {
  overflow: hidden;
  position: fixed;
}

body.viewport-lg {
  position: absolute;
}

/* width */

::-webkit-scrollbar {
  width: 7px;
}

/* Handle */

::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background: #888;
}

#brandTitle {
  z-index: 2;
  font-family: Raleway, sans-serif;
  background-color: #ecd59c;
  color: #41423d;
  text-align: center;
  font-size: 2rem;
}

.topnav {
  z-index: 2;
  overflow: hidden;
  background-color: rgba(12, 12, 12, 0.6);
  position: fixed;
  top: 0px;
  right: 0px;
  left: 0px;
}

.topnav img {
  height: 29px;
}

.topnav a {
  float: left;
  color: #ecd59c;
  text-align: center;
  padding: 17px;
  text-decoration: none;
  font-size: 17px;
  transition: 0.4s;
}

.topnav a:hover {
  color: white;
}

.topnav a:active {
  color: white;
}

.split {
  padding-right: 14px;
  float: right;
}

#home {
  position: relative;
  justify-content: center;
  align-content: center;
  align-items: center;
}

#homePage {
  color: #ecd59c;
  position: absolute;
  transform: translate(15%, 0%);
  z-index: 1;
  font-size: 1.8rem;
  font-family: Raleway, sans-serif;
}

#bookButton {
  background-color: #e05c2a;
  color: white;
  border: none;
  outline: none;
  margin: 20px 5px 20px 5px;
  padding: 10px 25px 10px 25px;
  border-radius: 5px;
  transition: 0.5s;
}

#bookButton:hover {
  margin: 20px 5px 20px 5px;
  padding: 10px 4rem 10px 4rem;
  box-shadow: 2px 2px 20px #ecd59c;
}

#myCarousel {
  transform: translate(0%, 0%);
  justify-content: center;
  align-content: center;
  align-items: center;
}

/*HOME END HERE*/

/*login signup modal starts here*/

.modal-content {
  box-shadow: 2px 2px 10px #ecd59c;
  border-color: #e05c2a;
  right: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, 25%);
  width: 475px;
}

#email,
#pass,
#passSignup,
#addSignUp,
#passSignup,
#passSignupConfirm,
#fnameSignup,
#lnameSignup,
#contactSignup,
#emailSignup {
  font-size: 14px;
  outline: none;
  border: none;
}

.modal-body {
  margin-left: 1rem;
  margin-right: 1rem;
}

.formBorder {
  background: -webkit-linear-gradient(right, #ecd59c, #e05c2a, #e05c2a);
  height: 1px;
  width: 100%;
}

.formLayout {
  text-align: left;
  align-items: left;
  display: flex;
  flex-direction: column;
  text-decoration: none;
}

#submit {
  text-decoration: none;
  color: white;
  background-color: #e05c2a;
  border: none;
  outline: none;
  margin: 20px 5px 20px 5px;
  padding: 10px 25px 10px 25px;
  border-radius: 5px;
  transition: 0.5s;
}

#submit:hover {
  margin: 20px 5px 20px 5px;
  padding: 10px 5rem 10px 5rem;
  box-shadow: 2px 2px 20px #ecd59c;
}

#submitLogin {
  text-align: center;
  align-items: center;
}

#submit:hover {
  margin: 20px 5px 20px 5px;
  padding: 10px 5rem 10px 5rem;
  box-shadow: 2px 2px 20px #ecd59c;
}

#submitLogin {
  text-align: center;
  align-items: center;
}

#modalSignUp {
  right: 100%;
  left: 50%;
  position: fixed;
  transform: translate(-50%, 1%);
  overflow: hidden;
}

/*login signup modal ends here*/

/*Services Starts Here*/

#services {
  background-color: #ecd59c;
  text-align: left;
  position: sticky;
  display: block;
  size: 100%;
  padding-top: 3rem;
  padding-bottom: 11rem;
}

#servicesTitle {
  margin-left: 6rem;
  margin-right: 6rem;
  font-size: 5rem;
  margin-bottom: 1rem;
}

#servicesContent {
  height: 100%;
  padding: 5px;
  margin-left: 6rem;
  margin-right: 6rem;
  font-size: 18px;
}

.theService1 p {
  text-decoration: none;
  transition: 0.5s;
}

p img {
  box-shadow: 0px 0px 20px#121212;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 221px;
  border-radius: 10px;
}

p {
  align-content: center;
  align-items: center;
  padding: 23px 1rem 1rem 1rem;
}

/*Services ends here*/

/*ABOUT US START HERE*/

#aboutUs {
  text-align: center;
  position: relative;
  width: 100%;
  size: 100%;
  padding-top: 4rem;
  padding-bottom: 4rem;
}

#aboutUsTitle {
  margin-left: 6rem;
  margin-right: 6rem;
  font-size: 3rem;
  margin-bottom: 1rem;
}

#aboutUsContent {
  margin-left: 6rem;
  margin-right: 6rem;
  font-size: 25px;
}

/*ABOUT US ENDS HERE*/

/*CONTACT US STARTS HERE*/

#contactUs {
  background-color: #ecd59c;
  padding-top: 4rem;
  padding-bottom: 4rem;
}

#contactUsTitle {
  margin-left: 6rem;
  margin-right: 6rem;
  font-size: 3rem;
  margin-bottom: 1rem;
}

#contactUsContent {
  margin-left: 6rem;
  margin-right: 6rem;
  font-size: 25px;
}

#contactUsContent a {
  float: left;
  color: #41423d;
}

.address {
  float: right;
}

#gmap_canvas {
  width: 300px;
  height: 300px;
  overflow: hidden;
  background: none !important;
  border: 0;
  margin-left: 5rem;
}

/* * Services Offered */
.service-wrapper {
  display: flex;
  flex-flow: row nowrap;
  gap: 12px;
  margin-bottom: 24px;
  background: white;
  border-radius: 10px;
}
.service-wrapper:nth-child(even) {
  flex-flow: row-reverse nowrap;
}
@media screen and (max-width: 600px) {
  .service-wrapper {
    flex-flow: row wrap;
  }
}
.services-section .heading-date {
  text-align: left;
  font-size: 2rem;
  margin-bottom: 24px;
}

.service-wrapper p {
  display: inline-block;
}
.service-wrapper img {
  max-width: 100%;
  object-fit: contain;
  width: 300px;
  height: 300px;
}
.service-details {
  border-radius: 10px;
  padding: 12px;
}
.service-details h3 {
  margin: 0;
}
