/* * Register Page */
* {
  box-sizing: border-box;
}

body {
  padding: 0px;
  margin: 0;
  font-family: "Poppins SemiBold";
  min-height: 100vh;
  scroll-behavior: smooth;
  background-color: #f0e3ca;
}

h1 {
  color: #a35709;
  margin: 1.5rem;
}

main {
  color: white;

  font-family: "Poppins", sans-serif;
}
.register-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.register-form-wrapper {
  width: 60%;
  padding: 50px;

  margin: 0 auto;
  background-color: #a35709;
}
.register-form-wrapper a {
  color: white;
  float: right;
  margin-top: 10px;
  text-decoration: none;
  transition: all 0.4s ease-in-out;
}
.register-form-wrapper a:hover {
  transform: translateY(-3px);
}
.register-form-wrapper h2,
.register-form-wrapper p {
  margin: 0;
}
.register-form-wrapper p {
  margin-bottom: 10px;
}
.register-form-wrapper > form {
  display: flex;
  flex-flow: column wrap;
  color: white;
  gap: 30px;
}

.name-input-wrapper {
  display: flex;
  flex-flow: row wrap;
  gap: 20px;
}

.input-wrapper {
  color: white;
}
.input-wrapper input {
  width: 200px;
  border-radius: 10px;
  padding: 8px;
  border: none;
}
.btn {
  border-radius: 16px;
  font-family: inherit;
  font-weight: bold;
  color: #a35709;
  background-color: #fff;
  border: none;
  padding: 18px 20px;
  transition: all 0.2s ease-in-out;
  font-family: "Poppins", sans-serif;
}
.btn:enabled:hover {
  transform: translateY(-5px);
  box-shadow: 5px 5px 6px rgba(2, 2, 2, 0.213);
  cursor: pointer;
}

.btn:enabled:active {
  transform: scale(0.9);
}

.submit-btn {
}
