* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Poppins SemiBold";
  min-height: 100vh;
  scroll-behavior: smooth;
}

/*Scroll bar  width */

::-webkit-scrollbar {
  width: 7px;
}

/* Handle */

::-webkit-scrollbar-thumb {
  background: #888;
}

/* Grid Structure of the page.
 */

/* TODO Change this to mobile first. */

main {
  padding: 25px;
  padding-top: 100px;
  color: #a35709;
  background-color: #f0e3ca;
  padding-bottom: 50px;
  min-height: 100vh;
  font-family: "Poppins", sans-serif;
}

footer {
  grid-column: 1 / -1;
}

footer {
  background-color: #a35709;
  color: #fff;
  padding: 20px;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  flex-flow: row wrap;
  position: relative;
}

/* sidebar */

aside {
  background-color: #fff;
  padding: 20px;
  padding-right: 0;
  height: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  width: 250px;
  transition: all 0.5s ease-in-out;
  opacity: 1;
  visibility: visible;
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
}

aside.menu-closed {
  visibility: hidden;
  transform: translate(-100px, 0);
  opacity: 0;
}

aside.menu-closed + .side-content {
  margin-left: 0;
}

.side-content {
  margin-left: 250px;
  transition: margin 0.4s ease-in-out;
}

#brandTitle {
  z-index: 2;
  font-family: Raleway, sans-serif;
  background-color: #ecd59c;
  color: #41423d;
  text-align: center;
  font-size: 2rem;
}

.topnav {
  z-index: 2;
  overflow: hidden;
  background-color: rgba(12, 12, 12, 0.6);
  position: fixed;
  top: 0px;
  right: 0px;
  left: 0px;
}

.topnav img {
  height: 29px;
}

.topnav a {
  float: left;
  color: #ecd59c;
  text-align: center;
  padding: 17px;
  text-decoration: none;
  font-size: 17px;
  transition: 0.4s;
}

.topnav a:hover {
  color: white;
}

.topnav a:active {
  color: white;
}

.menu-wrapper {
  margin-left: 14px;
}

.options-bar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  font-size: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 20px;
  margin-top: 100px;
}

.options-bar li {
  border-bottom: 2px solid #ecd59c;
  margin-bottom: 1rem;
}

.options-bar a {
  color: #1e1e1e;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  font-family: 600;
  display: flex;
  gap: 30px;
}

/* sidebar  icons */

.icon-box span {
  font-size: 2rem;
  width: 1rem;
  padding-right: 10px;
}

.header-title {
  color: #a35709;
  display: flex;
  margin-left: 20px;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.title-text {
  font-family: "Poppins SemiBold", sans-serif;
  font-size: 1.2em;
}

footer .logo {
  background-color: #fff;
  color: #1e1e1e;
}

.contacts-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}

.contact-details.-wrapper {
  margin: 0;
}

.logo {
  width: 80px;
  height: 80px;
  border-radius: 100%;
  background-color: #a35709;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}

/* Heading used on h1*/

.top-heading-text {
  font-family: "Poppins SemiBold", sans-serif;
  font-weight: 800;
  font-size: 2.8em;
  color: #a35709;
  margin-bottom: 0;
}

header {
  background-color: #fff;
  z-index: 2;
  display: flex;
  gap: 10px;
  align-items: center;
  padding: 10px;
  height: 100px;
  border-bottom: 5px solid #ff8303;
  /* * for the fixed header */
  position: fixed;
  top: 0;
  width: 100%;
  transition: transform 0.4s ease-in-out;
}

.scroll-up header {
  transform: translate3d(0, 0, 0);
}

.scroll-down header {
  transform: translate3d(0, -100%, 0);
}

#menu-icon {
  transition: all 0.2s ease-in-out;
  opacity: 1;
}

#menu-icon:hover {
  opacity: 0.5;
  transform: translateY(-5px);
  cursor: pointer;
}

/* .sign-in-btn-wrapper {
} */

#signout-btn {
  color: #a35709;
  background-color: transparent;
  border: 0;
  transition: all 0.3s ease;
  display: flex;
  justify-content: flex-start;
  gap: 10px;
}
#signout-btn:hover {
  color: #e05c2a;
  transform: translateY(-5px);
  cursor: pointer;
}

#sign-out-btn:hover {
  color: #c13500db;
}

/* #sign-out-btn:active {
    background-color: #a35709;
} */

/* * Home Section */

.section-greeting-wrapper h1 {
  margin-top: 0;
  color: #ff8303;
}

.section-greeting-wrapper h2 {
  margin: 0;
}

main > section {
  padding-left: 30px;
}

/* Tables */

table {
  border: none;
  background-color: #fff;
}

table th {
  background-color: #c13500db;
  color: #fff;
  padding: 16px;
}

table td {
  padding: 8px;
}

table tr:hover {
  background-color: rgba(222, 222, 222, 0.35);
}
.appointment-today-wrapper table {
  margin: 0 auto;
}
.section-content .appointment-today-wrapper table th {
  text-align: center;
}

.section-content .appointment-today-wrapper table td {
  text-align: left;
}
/* Button Styles */

.btn {
  border-radius: 16px;
  font-family: inherit;
  font-weight: bold;
  color: #a35709;
  background-color: #fff;
  border: none;
  padding: 18px 20px;
  transition: all 0.2s ease-in-out;
  font-family: "Poppins", sans-serif;
}

/* * Generic btn transition */

.btn:enabled:hover {
  transform: translateY(-5px);
  box-shadow: 5px 5px 6px rgba(2, 2, 2, 0.213);
}

.btn:enabled:active {
  transform: scale(0.9);
}

/* Selected buttons */

.top-table-group {
  display: flex;
  flex-flow: wrap row;
  gap: 20px;
  margin-bottom: 1rem;
}

.accept-selected-btn {
  color: #fff;
  background-color: #e05c2a;
}

.remove-selected-btn {
  color: #a35709;
  background-color: transparent;
  border: 1px solid transparent;
}

.remove-selected-btn:hover {
  border: 1px solid #c90101;
  background-color: #c90101;
  color: #fff;
}

.selected-text-wrapper {
  font-weight: 600;
}

.selected-span-text {
  color: #ff8303;
  font-weight: 800;
}

/* HR */

hr {
  border: none;
  margin: 50px 0;
  height: 10px;
  background-color: #411530;
}

/* * Date schedule */

.schedule-wrapper {
  background-color: #fff;
  color: #a35709;
  padding: 30px;
  width: 75%;
  margin: 0 auto;
  border-radius: 20px;
}

.heading-date {
  font-size: 3rem;
  color: #ff8303;
  font-weight: 800;
  text-align: center;
  margin: 0;
}

.subheading-date {
  text-align: center;
}

.schedule-details-wrapper {
  display: flex;
  flex-flow: row wrap;
  gap: 10px;
  justify-content: center;
}

.detail-wrapper {
  display: flex;
  flex-direction: column;
}

.detail-wrapper p {
  margin: 0;
  text-align: center;
}

.outlined-text {
  background-color: #a35709;
  color: #fff;
  display: inline-block;
  padding: 10px;
  border-radius: 15px;
  text-align: center;
  font-weight: 700;
}

/* * User_bookings */

.booking-wrapper form {
  width: 75%;
  margin: 0 auto;
  background-color: #fff;
  display: flex;
  flex-flow: wrap column;
  justify-content: center;
  align-items: flex-start;
  padding: 35px;
  color: #a35709;
  gap: 10px;
  border-radius: 15px;
}

/* booking form */

.input-wrapper {
  display: flex;
  flex-flow: nowrap column;
  gap: 10px;
  font-family: "Poppins", sans-serif;
}

.input-wrapper label {
  font-weight: 800;
}

.input-wrapper select,
.input-wrapper .fieldset-wrapper {
  margin-left: 50px;
}

.booking-select-input {
  border: 2px solid #a35709;
  width: 80%;
  padding: 10px;
  background-color: transparent;
  color: #ff8303;
  font-size: 1.2rem;
  font-family: "Poppins SemiBold", sans-serif;
  border-radius: 15px;
}

.form-btn-wrapper {
  display: flex;
  justify-content: center;
  position: relative;
  width: 100%;
  margin-top: 50px;
}

.submit-btn {
  color: #fff;
  background-color: #ff8303;
  padding: 10px 35px;
}

.form-btn-wrapper .reset-btn {
  position: absolute;
  right: 0;
}

.form-btn-wrapper .reset-btn:hover {
  background-color: #c90101;
  color: #fff;
}

.fieldset-wrapper {
  display: flex;
  flex-flow: row wrap;
}

/* * Services Offered */

details {
  border: 1px solid #aaa;
  border-radius: 4px;
  padding: 0.5em 0.5em 0;
  background-color: #fff;
  color: #1e1e1e;
}

summary {
  font-weight: bold;
  margin: -0.5em -0.5em 0;
  padding: 0.5em;
  font-size: 1.2rem;
}

details[open] {
  padding: 0.5em;
}

details[open] summary {
  border-bottom: 1px solid #aaa;
  margin-bottom: 0.5em;
}

/* * Cancel Btn */

.cancel-schedule-btn {
  padding: 20px;
}

.cancel-schedule-btn:disabled {
  opacity: 0.8;
  color: #aaa;
}

/* * MODAL (FOR SIGNOUT BTN */

.modal {
  display: none;
  position: fixed;
  z-index: 3;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

/* Modal Content */

.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 50%;
  animation-name: slideIn;
  animation-duration: 0.4s;
  position: static;
  transform: translate(0);
}

.confirm-btn-wrapper {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.modal-content .btn {
  padding: 15px 40px;
}

.modal-yes-btn {
  background-color: #a35709;
  color: #fff;
}

.modal-no-btn {
  background-color: transparent;
  color: #c90101;
}

.modal-no-btn:hover {
  background-color: #c90101;
  color: #fff;
}

/* The Close Button icon */

.close-icon {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close-icon:hover,
.close-icon:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

@keyframes slideIn {
  from {
    transform: translateY(150px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

/* * Mobile Layout */

@media (max-width: 700px) {
  .side-content {
    margin-left: 0;
  }
  aside:not(.menu-closed) + .side-content {
    filter: blur(3px) brightness(0.5);
  }
}

/* * Account Details styles */

.hidden-btn {
  display: none;
}
.secondary-btn {
  padding: 5px 0;
  width: 200px;
  background-color: transparent;
  border: 2px solid #a35709;
  color: #a35709;
  border-radius: 5px;
  cursor: pointer;
}

#edit-account-form .update-btn:hover {
  background-color: #ff8303;
  border: none;
  color: white;
}
#edit-account-form .cancel-btn:hover {
  border-color: #000;
  color: #000;
}
.input-wrapper input[type="text"]:enabled,
.input-wrapper input[type="password"]:enabled {
  border-color: #a35709;
}
.input-wrapper input[type="text"],
.input-wrapper input[type="password"] {
  width: 200px;
  border-radius: 10px;
  padding: 8px;
  border: none;
  font-size: 1.5rem;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  margin-bottom: 10px;
  border: 2px solid transparent;
}

.emp-wrapper {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  background-color: white;
  width: 65%;
  margin: 0 auto;
  border-radius: 20px;
  margin-bottom: 20px;
  gap: 20px;
  justify-content: center;
}
.emp-details {
  display: flex;
  flex-flow: row nowrap;
  background-color: white;
}
.emp-details > * {
  min-width: 150px;
}
.emp-wrapper .img-wrapper {
  max-width: 100px;
  height: 70px;
  width: 70px;
  border-radius: 100%;
  background: #a35709;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  font-size: bold;
}

/* tab highlighting */
.options-bar a {
  opacity: 0.7;
}
.options-bar a:hover {
  opacity: 1;
}
.options-bar a.active {
  opacity: 1;
  color: #a35709;
  font-weight: 800;
}
.main-content {
  background-color: white;
  padding: 10px;
  padding-left: 24px;
  padding-bottom: 24px;
  max-width: 1000px;
  margin: 0 auto;
  margin-top: 64px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px,
    rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
  border-radius: 15px;
}
.section-content {
  background-color: white;
  padding: 10px;
  padding: 24px 0;
  padding-left: 24px;
  min-width: 500px;
  max-width: 1000px;
  margin: 0 auto;
  margin-top: 64px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px,
    rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
  border-radius: 15px;
}
.section-content-small {
  min-width: 200px;
  max-width: 500px;
}

.section-content h2,
.section-content h3,
.section-content h4 {
  margin: 0;
  margin-bottom: 24px;
}

.section-content .section-header {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  padding: 16px;
}
.section-content .section-header > * {
  padding: 0;
  margin: 0;
}
.section-content table th {
  background-color: transparent;
  border: none;
  color: #e05c2a;
  padding: 0;
  text-align: left;
}
.section-content tbody td {
  border: none;
  padding: 10px;
  text-align: right;
}

.main-content .section-header {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  padding: 16px;
}
.main-content .section-header > * {
  padding: 0;
  margin: 0;
}

.main-content .table-container {
  overflow-x: auto;
  overflow-y: auto;
  max-width: 100%;
  margin-left: 24px;
}

.main-content table th {
  background-color: transparent;
  color: inherit;
  padding: 0;
}
.main-content .table-container table td {
  border: none;
  padding: 0;
  margin: 0;
  text-align: left;
  padding: 0 1rem;
}

/* Footer wave design */
.wave-container {
  position: relative;
  padding-bottom: 10rem;
  background-color: #f0e3ca;
}
.wave {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  background-color: #f0e3ca;
}

.wave svg {
  position: relative;
  display: block;
  width: calc(142% + 1.3px);
  height: 113px;
}

.wave .shape-fill {
  fill: #a35709;
}

#complete-appointment a {
  color: inherit;
}

#complete-appointment a:hover {
  color: #ff8303;
}

/* dashboard form btn */

#complete-appointment .form-btn {
  border-radius: 5px;
  font-family: inherit;
  font-weight: bold;
  color: #a35709;
  background-color: transparent;
  border: 2px solid #a35709;
  width: 120px;
  padding: 5px 0;
  margin-bottom: 10px;
  transition: all 0.2s ease-in-out;
  font-family: "Poppins", sans-serif;
}

#complete-appointment .completed-btn:hover {
  color: white;
  background-color: #a35709;
  cursor: pointer;
}
#complete-appointment .missed-btn:hover {
  background-color: #c90101;
  color: white;
  cursor: pointer;
}

#search-record-form input,
#search-record-form select {
  padding: 10px 20px;
  font-size: 1.1rem;
  background: white;
  border: 2px solid #a35709;
  border-radius: 5px;

  color: #a35709;
  font-family: Poppins;
  font-weight: 600;
}

#search-record-form {
  display: flex;
  flex-flow: row wrap;
  gap: 15px;
}

#search-record-form input:hover {
  cursor: pointer;
}

#search-record-form #search-btn {
  width: 120px;
  background-color: #ff8303;
  color: white;
  font-weight: 800;
  text-transform: uppercase;
  font-size: 0.9rem;
  letter-spacing: 1px;
  border: none;
}

.insertedNode {
  width: 400px;
}

.week-appointment-list {
  list-style: none;
}

.week-list-item {
  display: flex;
  flex-flow: row wrap;
  gap: 10px;
}
.week-list-item > * {
  width: 230px;
}
