* {
  box-sizing: border-box;
}
body {
  margin: 0;

  min-height: 100vh;
}

/* Values of the strucure of the page.
 */
.grid-wrap {
  display: grid;
  grid-template-columns: minmax(300px, 1fr) minmax(10px, 3fr);

  grid-template-rows: min-content 1fr min-content;
  gap: 1px;
  min-height: inherit;
  position: relative;
}

header {
  grid-column: 1 / -1;
}
aside {
  grid-column: 1 / 2;
  grid-row: 2 / 4;
}
main {
  grid-column: 2 / 3;
  grid-row: 2/3;
  min-height: 100vh;
  font-family: "Poppins";
}

footer {
  grid-column: 1 / -1;
  background: #ffecb3;
}

/* sidebar */
.options-bar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  font-size: 1.5rem;
}
aside {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 20px;
  padding-right: 0;
}

.options-bar li {
  border-bottom: 2px solid #ecd59c;
  margin-bottom: 1rem;
}
.options-bar a {
  color: black;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  font-family: 600;
  display: flex;
  gap: 30px;
}

/* sidebar  icons */
.icon-box span {
  font-size: 2rem;
  width: 1rem;
  padding-right: 10px;
}

/* Heading used on h1*/
.top-heading-text {
  font-family: "Poppins SemiBold", sans-serif;
  font-weight: 800;
  font-size: 2.8em;
  color: #a35709;
}

header {
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  padding-bottom: 0;
}
.sign-in-btn-wrapper {
}
#sign-out-btn {
  color: #ff8303;
  background-color: #fff;
  border: 0;
  padding: 15px 25px;
  transition: all 0.3s ease;
}
#sign-out-btn:hover {
  background-color: #e05c2a;
  color: #fff;
}
#sign-out-btn:active {
  background-color: #a35709;
}

/* * Home Section */
.section-greeting-wrapper h1 {
  margin-top: 0;
  color: #ff8303;
}
.section-greeting-wrapper h2 {
  margin: 0;
}

main {
  font-family: "Poppins";
  padding: 25px;
  color: #a35709;
  background-color: #f0e3ca;
}

/* Tables */
table {
  border: none;
}
table th {
  background-color: #c13500db;
  color: #fff;
  padding: 28px;
}

table td {
  border: 1px solid #ddd;
  padding: 8px;
}

table tr:nth-child(even) {
  background-color: #f2f2f2;
}
table tr:hover {
  background-color: #ddd;
}

/* Button Styles */
.btn {
  border-radius: 16px;
  font-family: inherit;
  font-weight: bold;
  color: #a35709;
  background-color: #fff;
  border: none;
  padding: 18px 20px;
  font-family: "Poppins", sans-serif;
}
.btn:enabled {
  transition: all 0.2s ease-in;
  transition: color 0.2s ease-in-out;
}

/* * Generic btn transistion */

.btn:enabled:hover {
  transform: translateY(-5px);
  box-shadow: 5px 5px 6px rgba(2, 2, 2, 0.213);
}
.btn:active {
  transform: scale(0.9);
}
/* Selected buttons */
.top-table-group {
  display: flex;
  flex-flow: wrap row;
  gap: 20px;
  margin-bottom: 1rem;
}
.accept-selected-btn {
  color: #fff;
  background-color: #e05c2a;
}
.remove-selected-btn {
  color: #1e1e1e;
  background-color: transparent;
  border: 1px solid transparent;
}
.remove-selected-btn:hover {
  border: 1px solid #c90101;
  background-color: #c90101;
  color: #fff;
}
.selected-text-wrapper {
  font-weight: 600;
}
.selected-span-text {
  color: #e05c2a;
  font-weight: 800;
}

/* HR */
hr {
  border: none;
  margin: 50px 0;
  height: 10px;
  background-color: #411530;
}

/* * Date schedule */

.schedule-wrapper {
  background-color: #fff;
  color: #a35709;
  padding: 30px;
  width: 75%;
  margin: 0 auto;
  border-radius: 20px;
}

.heading-date {
  font-size: 3rem;
  color: #ff8303;
  font-weight: 800;
  text-align: center;
  margin: 0;
}
.subheading-date {
  text-align: center;
}
.details-wrapper {
  display: flex;
  flex-direction: column;
  width: fit-content;
  gap: 10px;
}
.details-wrapper > p {
  margin: 0;
}
.outlined-text {
  background-color: #a35709;
  color: #fff;
  display: inline-block;
  padding: 10px;
  border-radius: 15px;
  text-align: center;
  font-weight: 700;
}

/* * User_bookings */
.booking-wrapper form {
  width: 75%;
  margin: 0 auto;
  background-color: #fff;
  display: flex;
  flex-flow: wrap column;
  justify-content: center;
  align-items: flex-start;
  padding: 35px;
  color: #a35709;
  gap: 10px;
  border-radius: 15px;
}

table {
  background-color: #fff;
}

/* booking form */
.input-wrapper {
  display: flex;
  flex-flow: nowrap column;
  gap: 10px;
  font-family: "Poppins", sans-serif;
}
.input-wrapper label {
  font-weight: 800;
}
.input-wrapper select,
.input-wrapper .fieldset-wrapper {
  margin-left: 50px;
}
.booking-select-input {
  border: 2px solid #a35709;
  width: 80%;
  padding: 10px;
  background-color: transparent;
  color: #ff8303;
  font-size: 1.2rem;
  font-family: "Poppins SemiBold", sans-serif;
  border-radius: 15px;
}

.form-btn-wrapper {
  display: flex;
  justify-content: center;
  position: relative;
  width: 100%;
  margin-top: 50px;
}
.submit-btn {
  color: #fff;
  background-color: #ff8303;
  padding: 10px 35px;
}
.form-btn-wrapper .reset-btn {
  position: absolute;
  right: 0;
}

.form-btn-wrapper .reset-btn:hover {
  color: #c90101;
}

.fieldset-wrapper {
  display: flex;
  flex-flow: row wrap;
}

/* * Services Offered */
details {
  border: 1px solid #aaa;
  border-radius: 4px;
  padding: 0.5em 0.5em 0;
  background-color: #fff;
  color: #1e1e1e;
}

summary {
  font-weight: bold;
  margin: -0.5em -0.5em 0;
  padding: 0.5em;
  font-size: 1.2rem;
}

details[open] {
  padding: 0.5em;
}

details[open] summary {
  border-bottom: 1px solid #aaa;
  margin-bottom: 0.5em;
}

/* * Cancel Btn */
.cancel-schedule-btn {
  padding: 20px;
}
.cancel-schedule-btn:disabled {
  opacity: 0.8;
  color: #aaa;
}
